@import url("dashicons.css");
body,
html {
  background-color: #fff !important;
}
body::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
td.psts > a {
  padding: 3px;
  font-size: 0.7rem;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #555;
  color: #fff;
  margin-bottom: 5px;
}
.exp-color {
  padding: 3px;
  font-size: 0.7rem;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
}
.exp-color.na {
  background-color: #eee;
  color: #333;
}
.exp-color.forever {
  background-color: #0ea015;
  color: #fff;
}
.exp-color.expired {
  background-color: #c00;
  color: #fff;
}
.postbox,
.postbox .hndle,
.stuffbox .hndle {
  border: 0 !important;
}
.woocommerce-page .wp-has-current-submenu:after {
  content: initial !important;
}
#wp-version-message {
  display: none;
}
#screen-meta-links .show-settings {
  margin: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 200px;
}
.notice,
div.error,
div.updated {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}
.components-button.is-primary:disabled,
.components-button.is-primary:disabled:active:enabled,
.components-button.is-primary[aria-disabled="true"],
.components-button.is-primary[aria-disabled="true"]:active:enabled,
.components-button.is-primary[aria-disabled="true"]:enabled {
  color: #fff !important;
  background-color: #ffbb3c !important;
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}
.components-button.is-default,
.components-button.is-default:disabled,
.components-button.is-default[aria-disabled="true"],
.components-button.is-primary:disabled:active:enabled:focus:enabled,
.components-button.is-primary:disabled:focus:enabled,
.components-button.is-primary[aria-disabled="true"]:active:enabled:focus:enabled,
.components-button.is-primary[aria-disabled="true"]:enabled:focus:enabled,
.components-button.is-primary[aria-disabled="true"]:focus:enabled {
  border: 0 !important;
  box-shadow: 0 0 0 transparent !important;
}
.wp-core-ui select,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  border-radius: 0;
  border-color: #ddd;
}
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  border: 0 !important;
  background-color: #ffbb3c;
  color: #333;
}
.components-button.is-primary,
.wrap .add-new-h2,
.wrap .add-new-h2:active,
.wrap .page-title-action,
.wrap .page-title-action:active {
  background-color: #ffbb3c !important;
  border-color: #ffbb3c !important;
  color: #333 !important;
}
#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat {
  border: 0 !important;
  box-shadow: 0 !important;
}
.widefat tfoot td,
.widefat tfoot th,
.widefat thead td,
.widefat thead th {
  border: 0 !important;
}
#adminmenuback:after {
	background: #222222 url(hoangsoft-panel.png) center left 10px no-repeat !important;
	background-size: 75% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	height: 50px;
}
.folded #adminmenuback:after{
	background: #222222 url(favicon.svg) center no-repeat !important;
	background-size: 56% !important;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "";
	height: 50px;
  padding-top: 10px;
}
#contextual-help-back,
#screen-meta,
.contextual-help-tabs .active a {
  border: 0;
  margin: 0;
}
#wpcf7-contact-form-editor span.shortcode input {
  color: #333;
}
body:not(.is-fullscreen-mode) .auto-fold .interface-interface-skeleton {
  left: 200px;
  top: 50px;
}
.folded .interface-interface-skeleton {
  left: 60px;
}
@media only screen and (min-width: 961px) {
  .auto-fold:not(.folded):not(.is-fullscreen-mode) .interface-interface-skeleton {
    left: 200px !important;
  }
}
@media only screen and (min-width: 783px) {
  body:not(.is-fullscreen-mode) .interface-interface-skeleton {
    top: 38px !important;
  }
  #wpadminbar #wp-admin-bar-user-info .display-name {
    color: #333 !important;
  }
  html.wp-toolbar {
    padding-top: 38px;
  }
  #wpadminbar {
    height: 50px;
  }
  .has-fixed-toolbar .edit-post-layout__content {
    margin-left: 200px !important;
    top: 106px !important;
  }
  .edit-post-sidebar {
    top: 106px;
  }
  .auto-fold .edit-post-header,
  .edit-post-header {
    left: 200px;
    top: 50px;
    border-color: #f0f0f0 !important;
  }
  .edit-site-navigation-toggle__button.components-button:before,
  .edit-post-fullscreen-mode-close.components-button:before{
    background: url(favicon.svg) center no-repeat;
    background-size: 100%;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;
    box-shadow: 0 0 0 transparent;
  }
  .edit-site-navigation-toggle__button.components-button > svg,
  .edit-post-fullscreen-mode-close.components-button > svg{
    display: none;
  }
  body:not(.folded) #wpadminbar {
	left: 200px;
	right: 0;
	width: auto;
	padding: 0 10px;
  }
  body.folded #wpadminbar {
    left: 64px;
    right: 0;
    width: auto;
  }
  body.folded #adminmenu li.menu-top div.wp-menu-image {
    width: 62px;
  }
  #wpadminbar {
    color: #333;
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 38px;
  }
  .folded #adminmenu .opensub .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
  .folded #adminmenu .wp-has-current-submenu a.menu-top:focus + .wp-submenu,
  .folded #adminmenu .wp-has-current-submenu.opensub .wp-submenu,
  .folded #adminmenu .wp-submenu.sub-open,
  .folded #adminmenu a.menu-top:focus + .wp-submenu,
  .no-js.folded #adminmenu .wp-has-submenu:hover .wp-submenu {
    left: 56px;
  }
  #wpadminbar .quicklinks > ul > li > a,
  #wpadminbar .quicklinks > ul > li > div {
    padding: 9px 10px !important;
  }
  .folded #wpcontent,
  .folded #wpfooter {
    margin-left: 56px;
  }
  #wpadminbar .ab-icon,
  #wpadminbar .ab-icon:before,
  #wpadminbar .ab-item,
  #wpadminbar .ab-item:after,
  #wpadminbar .ab-item:before,
  #wpadminbar a.ab-item,
  #wpadminbar > #wp-toolbar span.ab-label,
  #wpadminbar > #wp-toolbar span.noticon {
    color: #333 !important;
    font-weight: 500;
  }
  #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
  #wpadminbar .menupop .ab-sub-wrapper,
  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
  #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu,
  #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
  #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
  #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
  #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    background: #fafafa !important;
  }
}
#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #fff;
}
#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:after,
#wpadminbar .ab-item:before {
  color: #f3f1f1;
}
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
  color: #0074a2;
  background: #101010;
}
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label {
  color: #0074a2;
}
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before,
#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover .ab-item:before {
  color: #fff;
}
#wpadminbar .menupop .ab-sub-wrapper {
  background: #101010;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #343434;
}
#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #bdbdbd;
}
#wpadminbar .menupop .menupop > .ab-item:before,
#wpadminbar .quicklinks li .blavatar {
  color: #f3f1f1;
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar li #adminbarsearch.adminbar-focused:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: #0074a2;
}
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: #0074a2;
}
#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #f3f1f1;
}
#wpadminbar #adminbarsearch:before {
  color: #f3f1f1;
}
#wpadminbar
  > #wp-toolbar
  > #wp-admin-bar-top-secondary
  > #wp-admin-bar-search
  #adminbarsearch
  input.adminbar-input:focus {
  color: #fff;
  background: #343434;
}
#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #343434;
  background-color: #343434;
}
#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff;
}
#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #0074a2;
}
#wpadminbar #wp-admin-bar-user-info .username {
  color: #bdbdbd;
}
html {
  background: #f1f1f1;
}
a {
  color: #0074a2;
}
a:active,
a:focus,
a:hover {
  color: #0099d5;
}
#media-upload a.del-link:hover,
.subsubsub a.current:hover,
.subsubsub a:hover,
div.dashboard-widget-submit input:hover {
  color: #0099d5;
}
input[type="checkbox"]:checked:before {
  color: #ffbb3c;
}
input[type="radio"]:checked:before {
  background: #ffbb3c;
}
.wp-core-ui input[type="reset"]:active,
.wp-core-ui input[type="reset"]:hover {
  color: #0099d5;
}
.wp-core-ui .button-primary {
  background: #ffbb3c;
  border-color: #ffbb3c;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
}
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
  background: #62aefa;
  border-color: #62aefa;
  color: #fff;
  box-shadow: none;
}
.wp-core-ui .button-primary:focus {
  box-shadow: none;
}
.wp-core-ui .button-primary:active {
  background: #218cf9;
  border-color: #0980f8;
  box-shadow: inset 0 2px 0 #0980f8;
}
.wp-core-ui .button-primary.button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
  color: #c7ccd1 !important;
  background: #7bbbfb !important;
  border-color: #7bbbfb !important;
  text-shadow: none !important;
}
.wp-core-ui .button-primary.button-hero {
  box-shadow: none !important;
}
.wp-core-ui .button-primary.button-hero:active {
  box-shadow: none;
}
.wp-core-ui .wp-ui-primary {
  color: #aeb4bb;
  background-color: #222222;
}
.wp-core-ui .wp-ui-text-primary {
  color: #222222;
}
.wp-core-ui .wp-ui-highlight {
  color: #ffbb3c;
  background-color: transparent;
}
.wp-core-ui .wp-ui-text-highlight {
  color: transparent;
}
.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #81d742;
}
.wp-core-ui .wp-ui-text-notification {
  color: #81d742;
}
.wp-core-ui .wp-ui-text-icon {
  color: #a7aaad;
}
.tablenav .tablenav-pages a:focus,
.tablenav .tablenav-pages a:hover,
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: #a7aaad;
  background-color: #222222;
}
.view-switch a.current:before {
  color: #222222;
}
.view-switch a:hover:before {
  color: #81d742;
}
#adminmenu,
#adminmenuback,
#adminmenuwrap {
  background: #222222;
}
#adminmenu a {
  color: #a7aaad;
}
#adminmenu div.wp-menu-image:before {
  color: #a7aaad;
}
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #ffbb3c;
  background-color: transparent;
}
#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #ffbb3c;
}
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: #f1f1f1;
  border-bottom-color: #f1f1f1;
}
#adminmenu .wp-submenu {
  left: 200px;
}
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
#adminmenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  background: #222222;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #222222;
}
#adminmenu .wp-submenu .wp-submenu-head {
  color: #aeb4bb;
}
#adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a,
#adminmenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
  color: #aeb4bb;
}
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover,
#adminmenu .wp-submenu a:focus,
#adminmenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
  color: #fff;
}
#adminmenu .opensub .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a,
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a {
  color: #fff;
}
#adminmenu .opensub .wp-submenu li.current a:focus,
#adminmenu .opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-submenu li.current a:focus,
#adminmenu .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover {
  color: #fff;
}
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #f1f1f1;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top {
  color: #ffbb3c;
  background: 0 0;
}
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before,
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
  color: #ffbb3c;
}
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #fff;
  background: #81d742;
}
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li.current a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins,
#adminmenu li:hover a .awaiting-mod {
  color: #aeb4bb;
  background: #222222;
}
#collapse-button {
  color: #a7aaad;
}
#collapse-button .collapse-button-icon {
	color: #a7aaad;
	width: 26px;
}
body.folded #collapse-button .collapse-button-icon{
	width: 52px;
}
#collapse-button:focus,
#collapse-button:hover {
  color: #aeb4bb;
}
#collapse-button:focus .collapse-button-icon,
#collapse-button:hover .collapse-button-icon {
  color: #ffbb3c;
}
.wp-pointer .wp-pointer-content h3 {
  background-color: #ffbb3c;
  border-color: #3a99f9;
}
.wp-pointer .wp-pointer-content h3:before {
  color: #ffbb3c;
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #ffbb3c;
}
.media-item .bar,
.media-progress-bar div {
  background-color: #ffbb3c;
}
.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #ffbb3c;
}
.attachment.details .check {
  background-color: #ffbb3c;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ffbb3c;
}
.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ffbb3c;
}
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:focus:after,
.theme-browser .theme.add-new-theme a:hover:after {
  background: #ffbb3c;
}
.theme-browser .theme.add-new-theme a:focus span:after,
.theme-browser .theme.add-new-theme a:hover span:after {
  color: #ffbb3c;
}
.theme-filter.current,
.theme-section.current {
  border-bottom-color: #222222;
}
body.more-filters-opened .more-filters {
  color: #a7aaad;
  background-color: #222222;
}
body.more-filters-opened .more-filters:before {
  color: #a7aaad;
}
body.more-filters-opened .more-filters:focus,
body.more-filters-opened .more-filters:hover {
  background-color: transparent;
  color: #ffbb3c;
}
body.more-filters-opened .more-filters:focus:before,
body.more-filters-opened .more-filters:hover:before {
  color: #ffbb3c;
}
.widgets-chooser li.widgets-chooser-selected {
  background-color: transparent;
  color: #ffbb3c;
}
.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #ffbb3c;
}
#customize-theme-controls .widget-area-select .selected {
  background-color: transparent;
  color: #ffbb3c;
}
div#wp-responsive-toggle a:before {
  color: #a7aaad;
}
.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: 0 0;
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #222222;
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #a7aaad;
}
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item:hover {
  background: #ffbb3c;
}
@media screen and (min-width: 782px) {
  .wrap{
    margin-top: 0 !important;
  }
  #wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > div{
    padding: 3px 10px !important;
  }
  #wpcontent,
  #wpfooter {
    margin-left: 200px;
  }
  .admin-menu-h #wpcontent,
  .admin-menu-h #wpfooter {
    margin-left: 0 !important;
  }
  .admin-menu-h #adminmenu,
  .admin-menu-h #adminmenuback,
  .admin-menu-h #adminmenuwrap {
    width: 100% !important;
    margin: 0;
  }
  .admin-menu-h #adminmenumain {
    height: 46px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.15);
  }
  .admin-menu-h #adminmenuback,
  .admin-menu-h #adminmenuwrap {
    position: fixed !important;
    top: 50px !important;
    bottom: auto !important;
  }
  .admin-menu-h #adminmenu > li {
    display: block;
    width: auto !important;
    float: left;
  }
  .admin-menu-h #adminmenu > li:after,
  .admin-menu-h #adminmenu > li > a:after {
    display: none !important;
  }
  .admin-menu-h #adminmenu > li .wp-submenu {
    position: absolute !important;
    top: -1000em !important;
    margin-top: 0 !important;
  }
  .admin-menu-h #adminmenu > li:active > a,
  .admin-menu-h #adminmenu > li:focus > a,
  .admin-menu-h #adminmenu > li:hover > a {
    color: #ffbb3c;
  }
  .admin-menu-h #adminmenu > li:active .wp-submenu,
  .admin-menu-h #adminmenu > li:focus .wp-submenu,
  .admin-menu-h #adminmenu > li:hover .wp-submenu {
    top: 100% !important;
    left: 0 !important;
  }
  .admin-menu-h #collapse-menu {
    display: inline-block;
  }
  .admin-menu-h #collapse-menu div {
    height: 14px;
  }
  .admin-menu-h #collapse-menu span {
    display: none;
  }
  .admin-menu-h #adminmenu div.wp-menu-name {
    white-space: nowrap;
    display: inline-block;
    padding-right: 8px;
  }
  .admin-menu-h.folded #adminmenu div.wp-menu-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    margin-top: -4px;
  }
  .admin-menu-h.folded #adminmenu div.wp-menu-image {
    padding-bottom: 0;
  }
  .admin-menu-h.folded #adminmenumain {
    height: 46px;
  }
  .admin-menu-h.folded .edit-post-header {
    top: 96px;
  }
  .admin-menu-h.folded .edit-post-sidebar {
    top: 152px;
  }
  .admin-menu-h .wp-menu-arrow {
    display: none;
  }
  .admin-menu-h .edit-post-header {
    left: 0 !important;
    top: 96px;
  }
  .admin-menu-h .components-notice-list {
    left: 0 !important;
  }
  .admin-menu-h .edit-post-sidebar {
    top: 152px;
  }
  .admin-menu-h .edit-post-visual-editor {
    padding-top: 96px;
  }
  .block-editor-editor-skeleton {
    top: 50px;
  }
}
@media (max-width: 960px) and (min-width: 782px) {
  .admin-menu-h.auto-fold #adminmenu div.wp-menu-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    margin-top: -4px;
  }
  .admin-menu-h.auto-fold #adminmenu div.wp-menu-image {
    padding-bottom: 0;
  }
  .admin-menu-h.auto-fold #adminmenumain {
    height: 46px;
  }
}
#collapse-menu {
  margin-top: auto !important;
  padding: 4px 6px !important;
  background-color: #222222;
}
#adminmenu li.wp-menu-separator {
  margin: 0;
  height: 10px;
  display: block !important;
}
#adminmenu li.menu-top {
  min-height: 36px;
}
#adminmenu li.menu-top .menu-top {
  position: static;
}
#adminmenu li.menu-top .menu-top:after {
  display: none;
}
.admin-menu-h #adminmenu li.menu-top .menu-top {
  margin: 0;
}
.admin-menu-h #adminmenu li.menu-top {
  margin: 5px 4px;
  border-radius: 3px;
  background: #222222;
}
.admin-menu-h #adminmenu li.menu-top .menu-top:before {
  display: none;
}
body:not(.admin-menu-h) #adminmenu li.menu-top,
body:not(.admin-menu-h) #adminmenu li.menu-top:active,
body:not(.admin-menu-h) #adminmenu li.menu-top:focus,
body:not(.admin-menu-h) #adminmenu li.menu-top:hover {
  background: 0 0;
}
body:not(.folded):not(.admin-menu-h) #adminmenu li.menu-top.wp-menu-open .wp-submenu > li > a {
  padding-left: 38px;
}
#adminmenu > li:nth-child(7) {
  margin-top: 10px;
}
body:not(.admin-menu-h) #adminmenu {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  margin: 10px 0 0;
}
#adminmenuwrap{
  margin-top: 10px;
}
@media screen and (min-width: 782px) {
  .folded #adminmenu,
  .folded #adminmenu li.menu-top,
  .folded #adminmenuback,
  .folded #adminmenuwrap {
    width: 64px;
    z-index: 99999;
  }
  .folded:not(.admin-menu-h) #wp-admin-bar-site-name,
  .folded:not(.admin-menu-h) #wp-admin-bar-visit-site {
    text-align: center;
  }
  .folded:not(.admin-menu-h) #wp-admin-bar-site-name img,
  .folded:not(.admin-menu-h) #wp-admin-bar-visit-site img {
    float: none !important;
  }
  .folded:not(.admin-menu-h) #wp-admin-bar-site-name img + span,
  .folded:not(.admin-menu-h) #wp-admin-bar-visit-site img + span {
    display: none;
  }
  .folded:not(.admin-menu-h) #adminmenu .wp-menu-name {
    font-size: 11px;
    font-weight: 400;
    width: 64px;
    padding: 0 0 6px 0;
    display: table-cell;
    vertical-align: middle;
  }
  .folded:not(.admin-menu-h) #adminmenu div.wp-menu-image {
    padding: 8px 0;
  }
  .folded:not(.admin-menu-h) #adminmenu div.wp-menu-image:before {
    padding: 0;
    font-size: 20px;
  }
  .folded:not(.admin-menu-h) #adminmenu li.menu-top a.menu-top {
    height: 36px;
  }
  .folded.admin-menu-h #adminmenu li.menu-top .menu-top {
    padding: 0 6px;
  }
  .folded.admin-menu-h #adminmenu div.wp-menu-image {
    padding-top: 0;
  }
}
@media (min-width: 782px) and (max-width: 960px) {
  .auto-fold:not(.admin-menu-h) #adminmenu,
  .auto-fold:not(.admin-menu-h) #adminmenu li.menu-top,
  .auto-fold:not(.admin-menu-h) #adminmenuback,
  .auto-fold:not(.admin-menu-h) #adminmenuwrap,
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-site-name,
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-visit-site {
    width: 64px;
  }
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-site-name,
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-visit-site {
    text-align: center;
  }
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-site-name img,
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-visit-site img {
    float: none !important;
  }
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-site-name img + span,
  .auto-fold:not(.admin-menu-h) #wp-admin-bar-visit-site img + span {
    display: none;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu .wp-menu-name {
    font-size: 11px;
    font-weight: 400;
    width: 64px;
    padding: 0 0 6px 0;
    display: table-cell;
    vertical-align: middle;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu div.wp-menu-image {
    padding: 8px 0;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu div.wp-menu-image:before {
    padding: 0;
    font-size: 18px;
  }
  .auto-fold:not(.admin-menu-h) #adminmenu li.menu-top a.menu-top {
    height: 36px;
  }
  .auto-fold.admin-menu-h #adminmenu li.menu-top .menu-top {
    padding: 0 6px;
  }
  .auto-fold.admin-menu-h #adminmenu div.wp-menu-image {
    padding-top: 0;
  }
}
#wp-admin-bar-autoptimize table tr td.white {
  color: #555;
}
#wp-admin-bar-autoptimize table tr td {
  background-color: transparent !important;
  color: #333;
}
#adminmenu .current div.wp-menu-image:before,
#adminmenu .wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu a.wp-has-current-submenu:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu:hover div.wp-menu-image:before {
  color: #ffbb3c;
}
#wpadminbar #wp-admin-bar-network > .ab-item:before {
  content: "\f541";
  top: 2px;
}
#createuser,
#your-profile {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0 0 0 / 5%);
  margin-top: 15px;
}
.woocommerce-layout__header {
  top: 50px !important;
  width: calc(100% - 200px) !important;
}
.folded .woocommerce-layout__header {
  width: calc(100% - 64px) !important;
}
.wp-block {
  max-width: 1200px !important;
}
#adminmenu .toplevel_page_hs-subscriptions img,
#adminmenu .toplevel_page_wallets img{
	padding: 6px 0 0 0;
	filter: invert(1);
	width: 20px;
}
.postbox{
  background-color: #fafafa !important;
  border: 1px solid #f0f0f0 !important;
}
.postbox-header{
  border-bottom: 0 !important;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img{
  width: 32px !important;
  height: 32px !important;
}