@import url("unicons.css");
#wpadminbar #wp-admin-bar-site-name>.ab-item:before,
.dashicons-dashboard:before {
  font-family: unicons-line;
  content: '\ec21' !important;
}
#dashboard_right_now .post-count a:before, 
#dashboard_right_now .post-count span:before,
.dashicons-admin-post:before{
  font-family: unicons-line;
  content: '\e949' !important;
}
#dashboard_right_now .page-count a:before, 
#dashboard_right_now .page-count span:before,
.dashicons-admin-page:before{
  font-family: unicons-line;
  content: '\e951' !important;
}
.dashicons-admin-media:before{
  font-family: unicons-line;
  content: '\ea9d' !important;
}
#dashboard_right_now .comment-count a:before,
#wpadminbar #wp-admin-bar-comments .ab-icon:before,
.dashicons-admin-comments:before{
  font-family: unicons-line;
  content: '\e80d' !important;
}
#wpadminbar #wp-admin-bar-site-editor>.ab-item:before,
.dashicons-admin-appearance:before{
  font-family: unicons-line;
  content: '\eac7' !important;
}
.dashicons-admin-plugins:before{
  font-family: unicons-line;
  content: '\e8de'!important;
}
.dashicons-admin-users:before{
  font-family: unicons-line;
  content: '\ea0d' !important;
}
.dashicons-admin-tools:before{
  font-family: unicons-line;
  content: '\ebc0' !important;
}
.dashicons-admin-settings:before{
  font-family: unicons-line;
  content: '\eb09' !important;
}
.dashicons-email:before{
  font-family: unicons-line;
  content: '\e9e6' !important;
}
.dashicons-archive:before{
  font-family: unicons-line;
  content: '\eafa' !important;
}
.dashicons-chart-bar:before{
  font-family: unicons-line;
  content: '\e8b8' !important;
}
.dashicons-megaphone:before{
  font-family: unicons-line;
  content: '\ec39' !important;
}
.dashicons-admin-generic:before{
  font-family: unicons-line;
  content: '\eb09' !important;
}
.dashicons-admin-multisite:before,
#wpadminbar #wp-admin-bar-my-sites>.ab-item:before{
  font-family: unicons-line;
  content: '\ea4d' !important;
}
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before{
  font-family: unicons-line;
  content: '\eca5' !important;
}
#collapse-button .collapse-button-icon:after {
  font-family: unicons-line !important;
  content: '\eb78' !important;
}
#adminmenu div.wp-menu-image{
  background-image: none !important;
  float: left;
  width: 36px;
  height: 34px;
  margin: 0;
  text-align: center;
}
#adminmenu div.wp-menu-image:before{
  padding: 7px 0;
  transition: all .1s ease-in-out;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in;
}
#adminmenu a.toplevel_page_googlesitekit-dashboard div.wp-menu-image:before{
  font-family: unicons-line !important;
  content: '\ec11' !important;
}
#adminmenu a.toplevel_page_woocommerce div.wp-menu-image:before{
  font-family: unicons-line !important;
  content: '\e896' !important;
}
#wp-admin-bar-rank-math .rank-math-icon{
  top: -3px;
  padding-right: 5px !important;
}
#wp-admin-bar-rank-math .rank-math-icon svg{
  display: none;
}
#wp-admin-bar-rank-math .rank-math-icon:before{
  transition: all .1s ease-in-out;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in;
}
#wp-admin-bar-rank-math .rank-math-icon:before,
#adminmenu a.toplevel_page_rank-math div.wp-menu-image:before{
  font-family: unicons-line !important;
  content: '\e8d3' !important;
}
#wpadminbar #wp-admin-bar-new-content .ab-icon:before{
  font-family: unicons-line !important;
  content: '\e9c1' !important;
}
#wpadminbar #wp-admin-bar-edit>.ab-item:before{
  font-family: unicons-line !important;
  content: '\e990' !important;
}
/* Admin Bar */
#wpadminbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-admin-bar-my-account.with-avatar>a img{
  width: 24px !important;
  height: 24px !important;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar > .ab-empty-item img,
#wpadminbar #wp-admin-bar-my-account.with-avatar > a img {
  border: 0 !important;
  border-radius: 50%;
}
#wp-admin-bar-user-info .avatar {
  border-radius: 50%;
}
#wpadminbar #wp-admin-bar-comments .ab-icon:before,
#wpadminbar #wp-admin-bar-new-content .ab-icon:before{
  top: 0 !important;
}
@media screen and (max-width: 782px) {
  html #wpadminbar{
    height: 48px !important;
  }
  #wpadminbar .quicklinks > ul > li > a,
  #wpadminbar .quicklinks > ul > li > a > span{
    padding: 0 !important;
    display: flex !important;
    align-items:center !important;
    text-align: center !important;
    width: 46px !important;
  }
  #wpadminbar .ab-icon, 
  #wpadminbar .ab-icon:before, 
  #wpadminbar .ab-item:after, 
  #wpadminbar .ab-item:before{
    font-size: 32px !important;
    top: 0 !important;
  }
  #wpadminbar #wp-admin-bar-new-content .ab-icon:before{
    height: auto !important;
    width: auto !important;
  }
}